// Colors
$color-peach: #f3815b;
$color-teal:  #53bbb4;
$color-green: #5fcf80;
$color-navy:  #153a43;
$color-red:   #e35359;
$color-sand:  #eaab3d;

$color-lgray: #cccccc;
$color-dgray: #444444;


// weights
$fw-bold:     800;
$fw-book:     500;
$fw-light:    200;

$width-max:   900px;