@import 'variables';

section#demo {
  position: relative;
  z-index: 1;
  padding: 5rem 1rem;
  background: $color-dgray;
  color: $color-lgray;
  height: 250px;
  transition: 0.5s;

  &.has-cats {
    height: 500px;
    transition: 0.5s;
  }



  h3 {
    display: none;
  }

  .select-container {
    position: relative;
    display: inline-block;
    border-bottom: 3px solid $color-lgray;
  }
  select {
    width: 100%;
    color: #FFF;
    padding: 2px;
    outline: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;    
  }


  #cat-container {
    margin: 2rem auto;
    padding: 0;
    width: 1000px;
    list-style-type: none;
    cursor: pointer;

    li {
      display: inline-block;
      width: 240px;
      height: 240px;
      margin-left: 5px;
      margin-right: 5px;
      background-size: cover;
      background-position: center center;
      border-radius: 4px;
      border: 3px solid #FFF;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    }
  }


}